.cont-lg {
    width: 90%;
    height: 60vh;
}

.cont-xxl {
    width: 90%;
    height: 91vh;
    margin: 0 auto;
}

.cont-xl {
    width: 90%;
    height: 70vh;
    margin: 0 auto;
}

.cont-l {
    width: 90%;
    height: 60vh;
    margin: 0 auto;
}

.cont-m {
    width: 90%;
    height: 40vh;
    margin: 0 auto;
}

.cont-s {
    width: 90%;
    height: 30vh;
    margin: 0 auto;
}

.cont-xs {
    width: 90%;
    height: 25vh;
    margin: 0 auto;
}