$white: rgb(255, 255, 255);

$d-blue: rgb(35, 49, 59);
$d-blue2: rgb(26, 46, 58);
$c-blue: rgb(0, 173, 239);
$c-blue2: rgb(17, 188, 255);
$c-blue3: rgb(67, 131, 235);

$gray: rgb(226, 226, 226);
$gray4:rgb(150, 150, 150);
$gray5:rgb(182, 182, 182);
$gray3: rgb(243, 243, 243);
$gray2: rgb(131, 151, 170);

$grayblue: rgba(226, 230, 231, 0.801);